.profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile img {
  border-radius: 50%;
}

button {
  border-radius: 5px;
  background: rgb(25, 143, 253);
  color: white;
}
