.login-screen {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.blue-part {
  width: 40%;
  height: 100vh;
  background: rgb(25, 143, 253);
  color: white;
}

.other-part {
  width: 60%;
}

.login-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  text-align: left;
  padding: 1rem 2rem;
}

input {
  display: block;
  width: 100%;
  margin: 0.5rem;
  height: 2rem;
  border-radius: 10px;
  border: solid 0.1px;
  padding: 0 0.5rem;
}

.login-button {
  background: rgb(25, 143, 253);
  color: white;
  border-radius: 5px;
  display: block;
  padding: 0.5rem 0;
  border: none;
  font-size: 1.3rem;
  text-align: center;
  text-decoration: none;
}

.checkboxes {
  display: flex;
  justify-content: center;
  align-content: center;
}
