.register-screen {
  width: 100%;
  display: flex;
}

.blue-part {
  width: 40%;
  height: 100vh;
  background: rgb(25, 143, 253);
  color: white;
  padding: 1rem;
}

.other-part {
  margin: 0.5rem;
  padding: 1rem 2rem;
}

.register-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem 2rem;
  text-align: left;
  padding: 2rem 1rem 1rem 0;
}

.register-input {
  display: block;
  width: 100%;
  margin: 0.5rem;
  /* height: 2rem; */
  border-radius: 10px;
  border: solid 0.1px;
}

button {
  background: rgb(25, 143, 253);
  color: white;
  border-radius: 5px;
  display: block;
  border: none;
  font-size: 1.3rem;
}

.checkboxes {
  display: flex;
  justify-content: space-between;
}
